<% content_for :meta_title, "#{DEFAULT_META['title']} - Suitable for Vegans" %>
<% content_for :meta_description, @view_model.meta_description %>

<div class="hero hero--collection">
  <h1 class="hero__title">
    Soylent Alternatives <br/>For Vegans
  </h1>

  <h2 class="hero__subtitle hero__subtitle--with-action">
    <%= @view_model.description.html_safe %>
  </h2>

  <%= render 'explore_more' %>

</div>

<%= render 'products', products: @products %>
