* {
    box-sizing: border-box;
}

body {
    font-family: $font-primary;
    color: #3E4651;
    background-color: lighten(#ECF0F1, 4%);
;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus,
input:active {
    outline: 0;
}
