<select data-controller="narrow" name="narrow">
  <% Rails.configuration.sorters.group_by { |sorter| sorter[:group] }.each do |group| %>
    <optgroup label="<%= group.first.to_s.gsub('_', ' ').capitalize %>">

      <% group.last.each do |sorter| %>
        <option <%= 'selected=selected' if params[:narrow]&.to_sym == sorter[:value] %> value="<%= sorter[:value] %>"><%= sorter[:label] %></option>
      <% end %>

    </optgroup>

  <% end %>
</select>
