<div class="grid grid--center">
    <div class="grid__cell grid__cell--90 grid__cell--60-at-medium">
        <div class="support-us">
            <h1 class="support-us__title">Support Us</h1>

            <p class="support-us__description">
                If you like this folio tracker maybe you would like to support us?
            </p>

            <div class="support-us__coin">
                <h2 class="support-us__coin-title"><i class="cc BTC" title="BTC"></i> Bitcoin</h2>
                <input class="support-us__coin-input" readonly type="text" value="1HRRxnYwx8PF2XmDC4CqJai9pPKW983o3s">
                <a target="_blank" href="https://blockchain.info/address/1HRRxnYwx8PF2XmDC4CqJai9pPKW983o3s" class="support-us__coin-chain"><i class="icon-chain"></i> Blockchain Explorer</a>
            </div>

            <div class="support-us__coin">
                <h2 class="support-us__coin-title"><i class="cc LTC" title="LTC"></i> Litecoin</h2>
                <input class="support-us__coin-input" readonly type="text" value="LcaeZLor4SfM3ZxGghtNrLJpRh2FGjpW87">
                <a target="_blank" href="https://live.blockcypher.com/ltc/address/LcaeZLor4SfM3ZxGghtNrLJpRh2FGjpW87" class="support-us__coin-chain"><i class="icon-chain"></i> Blockchain Explorer</a>
            </div>

            <div class="support-us__coin">
                <h2 class="support-us__coin-title"><i class="cc ETH" title="ETH"></i> Ethereum</h2>
                <input class="support-us__coin-input" readonly type="text" value="0x0bb7524bcac3b5edbc06b9bfe33923b09dcdf2b1">
                <a target="_blank" href="https://etherscan.io/address/0x0bb7524bcac3b5edbc06b9bfe33923b09dcdf2b1" class="support-us__coin-chain"><i class="icon-chain"></i> Blockchain Explorer</a>
            </div>

            <div class="support-us__coin">
                <h2 class="support-us__coin-title"><i class="cc ADA-alt" title="ADA"></i> Cardano</h2>
                <input class="support-us__coin-input" readonly type="text" value="DdzFFzCqrhsrNyP7ac8z6kqssgea2boFscsc555aX66R86Qcv4xqsNt1K3N1trFwP8NU3v65MghzS5wRzkkuvwSLpXApB62qSfKZz2ZT">
                <a target="_blank" href="https://cardanoexplorer.com/address/DdzFFzCqrhsrNyP7ac8z6kqssgea2boFscsc555aX66R86Qcv4xqsNt1K3N1trFwP8NU3v65MghzS5wRzkkuvwSLpXApB62qSfKZz2ZT" class="support-us__coin-chain"><i class="icon-chain"></i> Blockchain Explorer</a>
            </div>

            <div class="support-us__coin">
                <h2 class="support-us__coin-title"><i class="cc XRP" title="XRP"></i> Ripple</h2>
                <input class="support-us__coin-input" readonly type="text" value="Deposit Address: rEb8TK3gBgk5auZkwc6sHnwrGVJH8DuaLh">
                <input class="support-us__coin-input" readonly type="text" value="Deposit Tag: 108920872">
            </div>

            <div class="support-us__coin">
                <h2 class="support-us__coin-title"><i class="cc STR" title="STR"></i> Stellar Lumens</h2>
                <input class="support-us__coin-input" readonly type="text" value="Deposit Address: GAHK7EEG2WWHVKDNT4CEQFZGKF2LGDSW2IVM4S5DP42RBW3K6BTODB4A">
                <input class="support-us__coin-input" readonly type="text" value="Deposit MEMO: 1030726448">
            </div>

            <p class="support-us__description support-us__description--bottom">If you are holding another crypto currency and would like to donate, feel free to send an email to <a href="mailto:contact.moonbeat@gmail.com" class="support-us__link">contact.moonbeat@gmail.com</a> and we will update this list.</p>
        </div>
    </div>
</div>
