<div class="spinner">
    <div class="spinner__bounce spinner__bounce--first"></div>
    <div class="spinner__bounce spinner__bounce--second"></div>
    <div class="spinner__bounce spinner__bounce--third"></div>
</div>
