<div class="guru-card clearfix">
  <div class="guru-card__overlay"></div>
  <div class="guru-card__content">
    <div class="guru-card__title">Not Satisfied?</div>
    <%= image_tag 'guru.svg', class: 'guru-card__logo' %>
    <%= link_to 'Let\'s Try Again', guru_path, class: 'button button--secondary button--capitalized button--with-arrow' %>
  </div>
</div>
