<div class="hero hero--guru">
  <h1 class="hero__title">
    Your Results
  </h1>
  <h2 class="hero__subtitle">
    The Guru found 23 Complete Foods matching your preferences!
  </h2>
</div>

<div class="grid grid--center">
  <div class="grid__cell grid__cell--90-at-wide">
    <div class="grid grid--center">
      <div class="grid__cell grid__cell--25-at-x-wide">
        <%= render 'gurus/again' %>
      </div>
      <div class="grid__cell grid__cell--75-at-x-wide">
        <% @products.each_with_index do |product, index| %>
          <%= render partial: 'products/item', locals: { product: product } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
