/*------------------------------------*\
    #SELECT2
\*------------------------------------*/

$select2-height: 68px !default;

.select2-container {
    width: 100% !important;
}

.select2-container .select2-selection--single {
    height: $select2-height;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: $select2-height;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: $select2-height;
}

.select2-container--default .select2-results__group {
    margin-top: 15px;
    font-weight: 700;
}

.select2-container--default .select2-selection--single {
    border: 1px solid $gray--medium;
}
