<div class="grid grid--center">
  <div class="grid__cell grid__cell--90 grid__cell--70-at-medium">
    <div class="footer">
      <div class="footer__contact">
        For any suggestions, feel free to reach us at <a class="link" href="mailto:soylent.alternatives@gmail.com">soylent.alternatives@gmail.com</a>

      </div>

      <div class="footer__copyright">
        Soylent Alternatives is not affiliated with Rosa Foods Inc. Soylent and all other Rosa Foods product names or registered trademarks of Rosa Foods Inc. All other company and product names are trademarks or registered trademarks of their respective companies.
      </div>
    </div>
  </div>
</div>
