<div class="grid grid--center">
  <div class="grid__cell grid__cell--90 grid__cell--70-at-medium">
    <div class="footer">
      <ul class="footer__links">
        <li class="footer__links-item">
          <a target="_blank" href="https://www.notion.so/Changelog-076d8a040dec4607ae67798490dfa862" class="footer__links-item-link">
            <%= image_tag 'ghost-alt.png', class: 'footer__links-item-link-icon' %> Changelog
          </a>
        </li>
        <li class="footer__links-item">
          <a target="_blank" href="https://www.notion.so/Products-queued-5b26be1dbbe24d62b0c232a87608e00d" class="footer__links-item-link">
            <%= image_tag 'pancake.png', class: 'footer__links-item-link-icon' %> Products Queued
          </a>
        </li>
      </ul>

      <div class="footer__contact">
        For any suggestions, feel free to reach us at <a class="link" href="mailto:completefoods.guru@gmail.com">completefoods.guru@gmail.com</a>
      </div>
    </div>
  </div>
</div>
