<div class="grid grid--center">
  <div class="grid__cell grid__cell--90">
    <div class="navigation">
      <div class="navigation__header">
        <ul class="navigation__list">
          <li class="navigation__list-item"> <a href="#" class="navigation__list-item-link">News</a></li>
          <li class="navigation__list-item"> <a href="#" class="navigation__list-item-link">Vouchers</a></li>
          <li class="navigation__list-item"> <a href="#" class="navigation__list-item-link">Compare</a></li>
          <li class="navigation__list-item"> <a href="#" class="navigation__list-item-link">Interviews</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
