<% content = local_assigns.fetch(:content, 'Send me a message when a new product is added to this list') %>

<% unless cookies[:signed_up_newsletter].present? %>
  <div class="grid grid--center">
    <div class="grid__cell grid__cell--90 grid__cell--70-at-wide">
      <div data-controller="newsletter" data-target="newsletter.newsletter" class="newsletter">
        <form data-action="submit->newsletter#onSubmit">
          <p class="newsletter__description"><%= content %></p>

          <%= email_field_tag 'email', nil, placeholder: 'Email', class: 'newsletter__input', data: { target: 'newsletter.email' } %>
          <%= button_tag 'Notify me!', type: 'submit', class: 'button button--newsletter' %>
        </form>
      </div>
    </div>
  </div>
<% end %>
