<div
    data-controller="filter"
    data-filter-property="<%= property %>"
    data-filter-property-checked="<%= property_checked %>"
    data-action="click->filter#onClickFilter"
    class="filters__item"
>
    <%= emoji(emoji) %>
    <span class="filters__item-label"><%= name %></span>
</div>
