/code
<h1>VUEJS</h1>

<component-cart inline-template total="100">
    <h1>Cart</h1>

    <p>Hello Jérémie Ges, this is the awesome cart</p>

    <component-cart-total inline-template :total="total">
    </component-cart-total>

</component-cart>

<script>

Vue.component('component-cart', {
    props: ['message'],

    data: function() {
        return {
            message: 'lol'
        }
    }
});

new Vue({
    el: '#app',
});
</script>

