<div data-component-folio data-total="0" class="folio">
    <div class="folio__total"></div>
    <div class="folio__title">Total value of your folio</div>
    <div class="folio__updated"></div>
</div>

<div class="coins">
    <div class="grid grid--left">
        <div class="grid__cell grid__cell--25">
            <div data-component-coin data-coin-symbol="BTC" data-coins-hold="0" data-price-total="0" class="coins__item">
                <div class="coins__item-logo">
                    <i class="crypto-icon cc BTC"></i>
                </div>
                <div class="coins__item-name">
                    <span class="coins__item-name-symbol">BTC</span>
                    <span class="coins__item-name-name">(Bitcoin)</span>
                </div>
                <div class="coins__item-price">
                </div>
                <div class="coins__item-hold">
                </div>
                <div class="coins__item-arrow">
                </div>
                <div class="coins__item-actions">
                    <a class="button button--danger" href="#">Delete Currency</a>
                </div>
            </div>
        </div>

        <div class="grid__cell grid__cell--25">
            <div data-component-coin data-coin-symbol="ETH" data-coins-hold="0" data-price-total="0" class="coins__item">
                <div class="coins__item-logo">
                    <i class="crypto-icon cc ETH"></i>
                </div>
                <div class="coins__item-name">
                    <span class="coins__item-name-symbol">ETH</span>
                    <span class="coins__item-name-name">(Ethereum)</span>
                </div>
                <div class="coins__item-price">
                </div>
                <div class="coins__item-arrow">
                </div>
                <div class="coins__item-hold">
                </div>
            </div>
        </div>

        <div class="grid__cell grid__cell--25">
            <div data-component-coin data-coin-symbol="LTC" data-coins-hold="1.7114" data-price-total="0" class="coins__item">
                <div class="coins__item-logo">
                    <i class="crypto-icon cc LTC"></i>
                </div>
                <div class="coins__item-name">
                    <span class="coins__item-name-symbol">LTC</span>
                    <span class="coins__item-name-name">(Litecoin)</span>
                </div>
                <div class="coins__item-price">
                </div>
                <div class="coins__item-arrow">
                </div>
                <div class="coins__item-hold">
                </div>
                <div class="coins__item-coin-value">
                </div>
            </div>
        </div>

        <div class="grid__cell grid__cell--25">
            <div data-component-coin data-coin-symbol="XRP" data-coins-hold="1053.70376875" data-price-total="0" class="coins__item">
                <div class="coins__item-logo">
                    <i class="crypto-icon cc XRP"></i>
                </div>
                <div class="coins__item-name">
                    <span class="coins__item-name-symbol">XRP</span>
                    <span class="coins__item-name-name">(Ripple)</span>
                </div>
                <div class="coins__item-price">
                </div>
                <div class="coins__item-arrow">
                </div>
                <div class="coins__item-hold">
                </div>
                <div class="coins__item-coin-value">
                </div>
            </div>
        </div>

        <div class="grid__cell grid__cell--25">
            <div data-component-coin data-coin-symbol="XMR" data-coins-hold="0" data-price-total="0" class="coins__item">
                <div class="coins__item-logo">
                    <i class="crypto-icon cc XMR"></i>
                </div>
                <div class="coins__item-name">
                    <span class="coins__item-name-symbol">XMR</span>
                    <span class="coins__item-name-name">(Monero)</span>
                </div>
                <div class="coins__item-price">
                </div>
                <div class="coins__item-arrow">
                </div>
                <div class="coins__item-hold">
                </div>
            </div>
        </div>

        <div class="grid__cell grid__cell--25">
            <div data-component-coin data-coin-symbol="BCH" data-coins-hold="0.02540000" data-price-total="0" class="coins__item">
                <div class="coins__item-logo">
                    <i class="crypto-icon cc BCH"></i>
                </div>
                <div class="coins__item-name">
                    <span class="coins__item-name-symbol">BCH</span>
                    <span class="coins__item-name-name">(BCASH)</span>
                </div>
                <div class="coins__item-price">
                </div>
                <div class="coins__item-arrow">
                </div>
                <div class="coins__item-hold">
                </div>
            </div>
        </div>

        <div class="grid__cell grid__cell--25">
            <div  data-component-coin data-coin-symbol="STR" data-coins-hold="2983.5665324" data-price-total="0" class="coins__item">
                <div class="coins__item-logo">
                    <i class="crypto-icon cc STR"></i>
                </div>
                <div class="coins__item-name">
                    <span class="coins__item-name-symbol">STR</span>
                    <span class="coins__item-name-name">(Stellar)</span>
                </div>
                <div class="coins__item-price">
                </div>
                <div class="coins__item-arrow">
                </div>
                <div class="coins__item-hold">
                </div>
                <div class="coins__item-coin-value">
                </div>
                <div class="coins__item-bought-at">
                    Bought at: 0.126363 &euro;
                </div>
                <div class="coins__item-profit-loss">
                    +3%
                </div>
                <div class="coins__item-actions">
                    <a class="button button--danger" href="#">Delete Currency</a>
                </div>
            </div>
        </div>

        <div class="grid__cell grid__cell--25">
            <div class="coins__item">
                <div class="coins__add">
                    <a class="button button--primary">Add Currency</a>
                </div>
            </div>
        </div>

    </div>
</div>
