<% cache 'parachute' do %>
  <%=
    render 'sponsors/generic.html.erb', sponsor: {
      name: 'parachute',
      logo_path: 'sponsors/parachute.jpg',
      text: '<span>Parachute Shakes</span> &nbsp;|&nbsp; Your First Order <span>Absolutely Free</span>. No Strings Attached. <br/> <p class="sponsor__text--small">Limited Time Only. While Supplies Last.</p>',
      action_text: 'Check it out!',
      action_link: 'https://goo.gl/Ea5JEd'
    }
  %>
<% end %>
