<%=
  render 'sponsors/generic.html.erb', sponsor: {
    name: 'parachute',
    logo_path: 'sponsors/parachute.jpg',
    text: '<span>Parachute Shakes</span> – Performance meal shakes for doers.<br/><span>30g High quality plant protein</span> and <span>only 1g Sugar</span> per 400 Calories.',
    action_text: 'Check it out!',
    action_link: 'https://goo.gl/cZpoSu'
  }
%>
