<% cache true do %>
  <%=
    render 'sponsors/generic.html.erb', sponsor: {
      name: 'powdermatter',
      logo_path: 'sponsors/powdermatter.png',
      text: "<span>Powder Matter</span> is giving away a <span>15% discount</span> - <span>Check it out!</span>",
      action_text: 'Redeem Discount',
      action_link: 'https://goo.gl/DJ7kWW'
    }
  %>
<% end %>
