* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background: $gray--x-light;
}

body {
    color: $black;
    font-family: $font-primary;
    font-size: 14px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

input:focus,
input:active {
    outline: 0;
}

strong {
    font-weight: bold;
}

img {
    max-width: 100%;
}
