/*------------------------------------*\
    #GLOBAL
\*------------------------------------*/

$spacing-unit:  10px !default;

$font-size:     14px !default;
$font-primary:  'Nunito', sans-serif !default;
$font-alt:      'Varela Round', sans-serif !default;
