/*------------------------------------*\
    #ALERT
\*------------------------------------*/

$alert-bg-color: darken($gray--x-light, 5%) !default;

.alert {
    display: inline-block;
    padding: double($spacing-unit);
    width: 100%;
    color: $black;
    background-color: $alert-bg-color;
    border-radius: 5px;

    strong {
        font-weight: 700;
    }

    .newsletter & {
        display: block;
        margin: 0 auto;
        max-width: 400px;
    }
}

.alert--error {
    color: $white;
    background-color: $red;
}

.alert--success {
    color: $white;
    background-color: $green;
}

.alert--small {
    padding: $spacing-unit * 1.5;
    font-size: 14px;
    line-height: 16px;
}
