/*------------------------------------*\
    #ALERT
\*------------------------------------*/

.alert {
    display: inline-block;
    padding: double($spacing-unit);
    width: 100%;
    color: $white;
    background-color: $blue;
    border-radius: 5px;

    strong {
        font-weight: 700;
    }
}

.alert--small {
    padding: $spacing-unit * 1.5;
    font-size: $font-size - 1px;
    line-height: 16px;
}
