/*------------------------------------*\
    #BRAND-SUMMARY-EXTENDED
\*------------------------------------*/

.brand-summary-extended {
    margin: double($spacing-unit) 0;
}

    .brand-summary-extended__card {
        background-color: $white;
        border-radius: 5px;
        box-shadow: $box-shadow;
    }

        .brand-summary-extended__details {
            display: flex;
            padding: double($spacing-unit);
            border-bottom: 2px solid $gray--medium-light;
        }

            .brand-summary-extended__details-name {
                display: inline-block;
                font-size: 18px;
                font-weight: 600;
                align-self: center;
            }

                .brand-summary-extended__details-name-flag {
                    display: inline-block;
                    margin-right: halve($spacing-unit);
                }

            .brand-summary-extended__details-number-products {
                display: inline-block;
                margin-left: $spacing-unit;
                padding: halve($spacing-unit) $spacing-unit;
                color: $white;
                font-size: 12px;
                font-weight: 600;
                background-color: $red--light;
                border-radius: 5px;
                align-self: center;
            }

            .brand-summary-extended__details-actions {
                display: inline-block;
                margin-left: auto;
                text-align: right;
                align-self: center;
            }

        .brand-summary-extended__products {
            padding: 0 double($spacing-unit);
        }

            .brand-summary-extended__product {
                display: block;
                position: relative;
                margin: $spacing-unit 0;
                padding: $spacing-unit 0;
                text-align: center;
                background-color: $white;
                border-radius: 5px;
            }

                .brand-summary-extended__product-body {
                }

                    .brand-summary-extended__product-name {
                        margin-top: $spacing-unit;
                        font-size: 14px;
                        font-weight: 500;
                        text-transform: capitalize;
                    }

                    .brand-summary-extended__product-cover {
                        display: inline-block;
                        width: 80px;
                        height: 80px;
                        background-size: cover;
                        border-radius: 50%;
                        box-shadow: $box-shadow--thumbnail;
                        vertical-align: middle;

                        @include respond-to('medium') {
                            width: 100px;
                            height: 100px;
                        }
                    }

