/*------------------------------------*\
    #BRAND-SUMMARY-EXTENDED
\*------------------------------------*/

.brand-summary-extended {
    margin: double($spacing-unit) 0;
}

    .brand-summary-extended__card {
        display: block;
        text-decoration: none;
        background-color: $white;
        border-radius: 5px;
        box-shadow: $box-shadow;
    }

        .brand-summary-extended__details {
            padding: double($spacing-unit);
            border-bottom: 2px solid $gray--medium-light;
        }

            .brand-summary-extended__details-name {
                display: inline-block;
                color: $black;
                font-size: 18px;
                font-weight: 600;
                align-self: center;
            }

                .brand-summary-extended__details-name-flag {
                    display: inline-block;
                    margin-right: halve($spacing-unit);
                }

            .brand-summary-extended__details-number-products {
                display: block;
                margin-top: double($spacing-unit);
                align-self: center;

                span {
                    padding: halve($spacing-unit) $spacing-unit;
                    color: $white;
                    font-size: 12px;
                    background-color: $red--light;
                    border-radius: $border-radius;
                }
            }
