/*------------------------------------*\
    #BRAND-SUMMARY
\*------------------------------------*/

$brand-summary-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08) !default;

.brand-summary {
    display: block;
    margin: halve($spacing-unit);
    text-decoration: none;

    @include respond-to('medium') {
        margin: $spacing-unit halve($spacing-unit);
    }
}

    .brand-summary__parent {
        margin: quadruple($spacing-unit) 0;
    }

        .brand-summary__item {
            padding: double($spacing-unit);
            background-color: $white;
            border-radius: 5px;
            box-shadow: $brand-summary-box-shadow;
        }

            .brand-summary__item-flag {
                display: inline-block;
                margin-right: halve($spacing-unit);
            }

            .brand-summary__item-name {
                color: $black;
            }

