/*------------------------------------*\
    #BUTTON
\*------------------------------------*/

$button-filters-hover-bg-color:                 darken($green, 5%) !default;
$button-show-results-filters-hover-bg-color:    darken($green, 5%) !default;

.button {
    display: inline-block;
    margin: 0;
    margin-top: double($spacing-unit);
    padding: 15px 25px;
    color: $white;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    background-color: $black;
    border-radius: 5px;
}

.button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.button--secondary {
    background-color: $purple;
}

.button--small {
    padding: $spacing-unit;
}

.button--large {
    padding: double($spacing-unit) quadruple($spacing-unit);
    font-size: 16px;
}

.button--capitalized {
    text-transform: capitalize;
}

.button--uppercase {
    text-transform: uppercase;
}

.button--no-margin {
    margin: 0;
}

.button--fixed-width {
    width: 150px;
}

.button--with-arrow {
    &:after {
        display: inline-block;
        padding-left: $spacing-unit;
        font-size: 16px;
        content: '\2192';
        vertical-align: middle;
    }
}

.button--filters {
    margin: 0;
    padding: double($spacing-unit);
    width: 100%;
    color: $white;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    background-color: $green;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);

    @include respond-to('medium') {
        width: auto;
    }

    &:hover,
    &:active,
    &:focus {
        background-color: $button-filters-hover-bg-color;
    }
}

.button--call-to-action {
    margin-top: 0;
    width: 120px;
    font-size: 12px;

    @include respond-to('medium') {
        font-size: 14px;
    }
}


.button--sponsor {
    padding: $spacing-unit ($spacing-unit * 1.5);
    border-radius: 5px;

    .sponsor--queal & {
        color: $white;
        background-color: $sponsor-queal;
    }

    .sponsor--powdermatter & {
        color: $white;
        background-color: $sponsor-powdermatter;
    }
}
