/*------------------------------------*\
    #BUTTON
\*------------------------------------*/

$button-filters-action-bg-color: darken($green, 5%);

.button {
    display: inline-block;
    margin: $spacing-unit;
    text-decoration: none;
    border: 0;
    outline: 0;
    cursor: pointer;
}

    .button--filters {
        margin: 0;
        padding: ($spacing-unit * 2);
        color: $white;
        font-size: $font-size;
        font-weight: 700;
        text-align: center;
        background-color: $green;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);

        &:hover,
        &:active,
        &:focus {
            background-color: $button-filters-action-bg-color;
        }
    }
