/*------------------------------------*\
    #BUTTON
\*------------------------------------*/

$button-filters-hover-bg-color: darken($green, 5%) !default;
$button-show-results-filters-hover-bg-color: darken($green, 5%) !default;

.button {
    display: inline-block;
    margin: $spacing-unit;
    text-decoration: none;
    border: 0;
    outline: 0;
    cursor: pointer;
}

    .button--filters {
        margin: 0;
        padding: double($spacing-unit);
        color: $white;
        font-size: $font-size;
        font-weight: 700;
        text-align: center;
        background-color: $green;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);

        &:hover,
        &:active,
        &:focus {
            background-color: $button-filters-hover-bg-color;
        }
    }

    .button--call-to {
        margin: 0;
        padding: $spacing-unit 0;
        width: 120px;
        color: $white;
        font-size: $font-size;
        font-weight: 700;
        text-align: center;
        background-color: $black;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);

        &:hover,
        &:active,
        &:focus {
            background-color: $black;
        }
    }

    .button--show-results-filters {
        margin: 0;
        padding: double($spacing-unit);
        width: 100%;
        color: $white;
        font-size: $font-size;
        font-weight: 700;
        text-align: center;
        background-color: $green;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);


        @include respond-to('medium') {
            display: none;
        }

        &:hover,
        &:active,
        &:focus {
            background-color: $button-show-results-filters-hover-bg-color;
        }
    }
