/*------------------------------------*\
    #CURRENCIES
\*------------------------------------*/

.currencies {
    display: none;
    padding: double($spacing-unit);
    background-color: $white;
    border-bottom: 1px solid #f1f2f6;
    background-color: $gray--x-light;
}

    .currencies__title {
        margin-bottom: double($spacing-unit);
        font-weight: 700;
    }

    .currencies__list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        @include respond-to('medium') {
            height: 250px;
        }

        @include respond-to('wide') {
            height: 150px;
        }
    }

        .currencies__item {
            padding: ($spacing-unit / 1.5) 0;
            text-align: center;

            @include respond-to('medium') {
                text-align: left;
            }
        }

            .currencies__item-link {
                color: $black;
                text-decoration: none;
            }

            .currencies__item-name {
                .currencies__item-link--selected & {
                    font-weight: 700;
                }
            }

            .currencies__item-code {
                color: $gray;
            }
