/*------------------------------------*\
    #EMOJI
\*------------------------------------*/

.emoji {
    display: inline-block;
    width: 48px;
    height: 48px;
    vertical-align: middle;

    .guru__choice & {
        margin-right: 2px;
        width: 15px;
        height: 15px;

        @include respond-to('wide') {
            width: 18px;
            height: 18px;
        }
    }

    .product-show__item & {
        display: inline-block;
        width: 24px;
        height: 24px;
    }

    .product-show__attribute & {
        margin-right: halve($spacing-unit);
        width: 20px;
        height: 20px;
        vertical-align: bottom;
    }
}
