/*------------------------------------*\
    #EMOJI
\*------------------------------------*/

.emoji {
    display: inline-block;
    width: 48px;
    height: 48px;
    vertical-align: middle;

    .filters__item & {
        margin-right: 2px;
        width: 15px;
        height: 15px;
    }

    .product-show__item & {
        display: inline-block;
        width: 30px;
        height: 30px;
    }
}
