/*------------------------------------*\
    #FILTERS
\*------------------------------------*/

.filters {
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: $spacing-unit;
    width: 90%;
    min-height: 1400px;

    @include respond-to('medium') {
        min-height: 1600px;
    }
}

    .filters__group {
        position: relative;
        margin: triple($spacing-unit) 0;
        font-size: $font-size - 1px;
        border: 2px solid $gray--x-light;
        border-radius: 5px;

        @include respond-to('medium') {
            margin: ($spacing-unit * 7) 0;
            font-size: $font-size;
        }
    }

        .filters__group-label {
            display: inline-block;
            position: absolute;
            top: negative($spacing-unit);
            left: halve($spacing-unit);
            margin-bottom: double($spacing-unit);
            padding: 0 halve($spacing-unit);
            color: $black;
            font-size: $font-size - 2px;
            font-weight: 700;
            text-transform: capitalize;
            background-color: $white;

            @include respond-to('medium') {
                font-size: $font-size + 3px;
            }
        }

        .filters__items {
            display: flex;
            padding: double($spacing-unit) ($spacing-unit * 1.5);
            justify-content: space-between;
            flex-flow: row wrap;
        }


        .filters__item {
            margin: halve($spacing-unit) 0;
            margin-right: halve($spacing-unit);
            padding: double($spacing-unit) 0;
            width: 48%;
            height: auto;
            text-align: center;
            border: 1px solid $gray--medium;
            border-radius: 5px;
            vertical-align: middle;

            &:hover {
                background-color: $gray--x-light;
                cursor: pointer;
            }

            .filters__items--two-per-row & {
                width: 48%;
            }

            .filters__items--one-per-row & {
                width: 100%;
            }
        }

        .filters__item--selected {
            color: $white;
            background-color: $green;
            border: 1px solid $green;

            &:hover {
                background-color: $green;
            }
        }

            .filters__item-label {
                vertical-align: middle;
            }
