/*------------------------------------*\
    #FLAG-ICON
\*------------------------------------*/

.flag-icon {
    .hero--brand & {
        width: 16px;
    }

    .product-details__from & {
        display: inline-block;
        margin-right: halve($spacing-unit);
        width: 16px;
    }
}
