/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

.footer {
    margin: ($spacing-unit * 5) 0;
    line-height: double($spacing-unit);
    text-align: center;
}

    .footer__contact {
        margin-bottom: triple($spacing-unit);
        font-size: $font-size;
    }

    .footer__links {
        list-style: none;
    }

        .footer__links-item {
            display: inline-block;
        }

            .footer__links-item-link {
                display: inline-block;
                margin: $spacing-unit;
                margin-bottom: triple($spacing-unit);
                height: 60px;
                min-width: 260px;
                color: $black;
                line-height: 60px;
                text-decoration: none;
                background: $white;
                border-radius: 20px;
            }

                .footer__links-item-link-icon {
                    width: 35px;
                    vertical-align: middle;
                }

                .footer__links-item-link-icon--community {
                    width: 25px;
                }
