/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

.footer {
    margin: ($spacing-unit * 5) 0;
}

    .footer__contact {
        margin-bottom: triple($spacing-unit);
        font-size: $font-size;
        text-align: center;
    }

    .footer__copyright {
        font-size: $font-size;
        line-height: double($spacing-unit);
        text-align: center;
    }
