/*------------------------------------*\
    #GURU-CARD
\*------------------------------------*/

.guru-card {
    position: relative;
    margin: 0 auto;
    padding: ($spacing-unit * 1.5) quadruple($spacing-unit);
    max-width: 610px;
    color: $white;
    background: $white;
    background-size: cover;
    background-image: url(asset_path('photo_guru.png'));
    background-position: center center;
    border: 2px solid $gray--medium-light;
    border-radius: double($border-radius);

    @include respond-to('x-wide') {
        margin-right: $spacing-unit;
        color: $black;
        background-image: none;
    }
}

    .guru-card__overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $black;
        border-radius: $border-radius;
        opacity: 0.3;

        @include respond-to('x-wide') {
            display: none;
        }
    }

    .guru-card__logo {
        display: none;
        margin-top: $spacing-unit;
        padding-top: halve($spacing-unit);
        text-align: center;

        @include respond-to('x-wide') {
            display: block;
        }
    }

    .guru-card__content {
        display: inline-block;
        position: relative;
        margin: 10px 0;
        width: 100%;
        float: right;
        font-size: 15px;
        text-align: center;
    }

        .guru-card__title {
            display: block;
            margin-bottom: $spacing-unit;
            font-size: 19px;
            font-weight: bold;
            text-transform: capitalize;
        }

        .guru-card__description {
            line-height: double($spacing-unit);
        }
