/*------------------------------------*\
    #HEADER
\*------------------------------------*/

.header {
    margin: 0 auto;
    margin-top: 0;
    padding: triple($spacing-unit);
    width: 70%;
    color: $black;
    background: $white;
    border: 2px solid $gray--medium-light;
    border-top: 0;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

    .header__logo {
        display: inline-block;
    }

    .header__text {
        display: inline-block;
        padding-right: double($spacing-unit);
        color: $black;
        font-size: 18px;
        font-weight: 400;
        border-right: 1px solid $white;
    }

        .header__text-guru {
            font-weight: 600;
        }

    .header__links {
        display: inline-block;
        margin-left: double($spacing-unit);
    }

        .header__link:first-of-type {
            margin-left: 0;
        }

        .header__link {
            margin: 0 $spacing-unit;
            color: $black;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
        }

        .header__link--highlight {
            padding: halve($spacing-unit) $spacing-unit;
            color: $white;
            background: $purple;
            border-radius: 5px;
        }

    .header__currency {
        display: inline-block;
        float: right;
        color: $black;
    }

        .header__currency-label {}

            .header__currency-code {
                color: $purple;
                text-decoration: underline;
                text-decoration-style: dotted;
            }
