/*------------------------------------*\
    #HERO
\*------------------------------------*/

.hero {
    margin: 0 auto;
    margin-top: 50px;
    color: $black;
    text-align: center;

    @include respond-to('medium') {
        width: 80%;
    }
}

.hero--home {}
.hero--collection {}

    .hero__title {
        font-size: $font-size + 24px;
        font-weight: bold;
        line-height: 40px;
        text-transform: capitalize;

        @include respond-to('medium') {
            font-size: $font-size + 44px;
            line-height: 58px;
        }
    }

    .hero__subtitle {
        margin: 0 auto;
        margin-top: double($spacing-unit);
        margin-bottom: $spacing-unit * 5;
        max-width: 550px;
        font-size: $font-size - 1px;
        line-height: 22px;

        @include respond-to('medium') {
            font-size: $font-size + 3px;
            line-height: 30px;
        }

        .hero--home & {
            margin-bottom: double($spacing-unit);
        }

        .hero--collection & {
            max-width: 700px;
        }
    }

    .hero__subtitle--with-action {
        margin-bottom: 30px;
    }

    .hero__action {
        margin-bottom: double($spacing-unit);
        font-size: $font-size - 1px;
        font-style: italic;

        @include respond-to('medium') {
            font-size: $font-size + 3px;
        }
    }

    .hero__icon {
        font-size: $font-size + 26px;
        vertical-align: middle;
    }
