/*------------------------------------*\
    #HERO
\*------------------------------------*/

.hero {
    margin: 0 auto;
    margin-top: 50px;
    width: 95%;
    color: $black;
    text-align: center;

    @include respond-to('medium') {
        width: 80%;
    }
}

    .hero__title {
        font-size: $font-size + 24px;
        font-weight: bold;
        line-height: 40px;
        text-transform: capitalize;

        @include respond-to('medium') {
            font-size: $font-size + 44px;
            line-height: 58px;
        }
    }

    .hero__subtitle {
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 50px;
        max-width: 550px;
        font-size: $font-size - 1px;
        line-height: 22px;

        @include respond-to('medium') {
            font-size: $font-size + 3px;
            line-height: 30px;
        }
    }
