/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

.layout {
    margin: 0 auto;
    padding: 0 $spacing-unit;
    max-width: 1420px;

    @include respond-to('medium') {
        width: 100%;
    }
}
