/*------------------------------------*\
    #LOGO
\*------------------------------------*/

.logo {
    display: inline-block;
    padding: $spacing-unit double($spacing-unit);
    color: $black;
    letter-spacing: 1px;
    text-decoration: none;
    background: $white;
    border-radius: 100px;
}

.logo__image {
    height: 35px;
    vertical-align: middle;
}

.logo__soylent {
    font-size: $font-size + 3px;
    font-family: $font-logo;
    font-weight: 600;
    vertical-align: middle;
}

.logo__alternatives {
    font-size: $font-size + 3px;
    font-family: $font-logo;
    font-weight: 400;
    vertical-align: middle;
}
