/*------------------------------------*\
    #NAVIGATION
\*------------------------------------*/

.navigation {}

    .navigation__header {

    }

        .navigation__list {
            text-align: right;
        }

        .navigation__list-item {
            display: inline-block;
            margin: 0 $spacing-unit;
        }

            .navigation__list-item-link {
                color: $black;
                font-size: $font-size + 2px;
                font-weight: 500;
                text-transform: capitalize;
                text-decoration: none;

                &:hover,
                &:active,
                &:focus {
                    opacity: 0.7;
                }
            }

                .navigation__currency-icon {
                    display: inline-block;
                    width: 40px;
                    vertical-align: middle;
                }

                .navigation__currency-label {
                    vertical-align: middle;
                }
