/*------------------------------------*\
    #PRODUCT-REVIEWS
\*------------------------------------*/

.product-reviews {}

    .product-reviews__choices {}

    .product-reviews__meaning {
        margin-top: $spacing-unit;
        font-size: $font-size;
        text-align: left;

        strong {
            font-weight: bold;
        }
    }

    .product-reviews__content {}

        .product-reviews__content-textarea {
            display: block;
            margin-top: quadruple($spacing-unit);
            padding: $spacing-unit * 1.5;
            width: 80%;
            min-height: 100px;
            font-size: $font-size;
            border: 1px solid $gray--light;
            border-radius: 5px;
        }

    .product-reviews__errors {
        padding: $spacing-unit 0;
        color: $red;
        font-size: $font-size;
    }

    .product-reviews__list {
        margin-top: double($spacing-unit);
    }

        .product-reviews__list-item {
            padding: triple($spacing-unit) 0;
            border-bottom: 1px solid $gray--x-light;
        }

            .product-reviews__list-score {
                font-weight: bold;
            }

                .product-reviews__list-score-time {
                    margin-left: $spacing-unit;
                    color: $gray;
                    font-size: $font-size;
                    font-weight: normal;
                }

            .product-reviews__list-description {
                margin-top: double($spacing-unit);
                font-size: $font-size;
                line-height: triple($spacing-unit);
            }

            .product-reviews__list-description--none {
                font-style: italic;
            }
