/*------------------------------------*\
    #PRODUCT-ITEMS
\*------------------------------------*/

.product-items {}

    .product-items__no-results {
        margin-top: double($spacing-unit);
        padding: quadruple($spacing-unit) double($spacing-unit);
        text-align: center;
        background: $white;
    }

        .product-items__no-results-icon {
            display: block;
            margin: 0 auto;
            width: 70px;

            @include respond-to('medium') {
                width: 100px;
            }
        }

        .product-items__no-results-description {
            margin-top: double($spacing-unit);
            font-size: 13px;

            @include respond-to('medium') {
                font-size: 17px;
            }

            strong {
                display: block;
                margin-bottom: double($spacing-unit);
                font-size: 20px;
                font-weight: 700;

                @include respond-to('medium') {
                    font-size: 26px;
                }
            }
        }
