/*------------------------------------*\
    #PRODUCT-SHOW
\*------------------------------------*/

$product-show-thumbnail-size: 80px !default;
$product-show-attribute-bg-color: darken($gray--x-light, 1%) !default;

.product-show {}

    .product-show__heading {
        margin-top: double($spacing-unit);
        text-align: center;
    }

        .product-show__thumbnail {
            display: inline-block;
            margin-left: $spacing-unit;
            width: $product-show-thumbnail-size;
            height: $product-show-thumbnail-size;
            text-align: center;
            background-size: cover;
            border-radius: 50%;
            box-shadow: $box-shadow--thumbnail;
            vertical-align: middle;

            @include respond-to('medium') {
                width: 100px;
                height: 100px;
            }
        }

    .product-show__call-to {
        margin: $spacing-unit;
        text-align: center;
    }

    .product-show__card {
        display: block;
        position: relative;
        margin-top: double($spacing-unit);
        padding: double($spacing-unit);
        text-align: left;
        text-decoration: none;
        background-color: $white;
        border-radius: 8px;
        border: 2px solid $gray--medium-light;

        @include respond-to('medium') {
            margin-top: triple($spacing-unit);
            padding: $spacing-unit ($spacing-unit * 5);
            padding-bottom: quadruple($spacing-unit);
        }
    }

    .product-show__card--alt {
        border-radius: 0;
    }

        .product-show__title {
            margin: ($spacing-unit) 0;
            font-size: 18px;
            font-weight: bold;

            @include respond-to('medium') {
                font-size: 29px;
            }
        }

        .product-show__subtitle {
            margin-top: ($spacing-unit * 5);
            margin-bottom: double($spacing-unit);
            font-size: 17px;
            font-weight: bold;
            text-transform: capitalize;

            @include respond-to('medium') {
                font-size: 24px;
            }
        }

        .product-show__subtitle:first-of-type {
            margin-top: 0;

            @include respond-to('medium') {
                margin-top: triple($spacing-unit);
            }
        }

        .product-show__from {
            strong {
                font-weight: bold;
            }
        }

        .product-show__about {
            line-height: $spacing-unit * 2.2;
            text-align: justify;

            p {
                margin: double($spacing-unit) 0;
            }
        }

        .product-show__notes {
            font-size: 14px;
            line-height: 20px;
        }

        .product-show__attributes {}

            .product-show__attribute {
                @extend %clearfix;
                margin: $spacing-unit 0;
                padding: $spacing-unit double($spacing-unit);
                border-radius: 5px;
                max-width: 340px;
                background-color: $product-show-attribute-bg-color;
            }

            .product-show__attribute--unavailable {
                background-color: $red--x-light;
            }

                .product-show__attribute-icon {
                    display: inline-block;
                }

                .product-show__attribute-label {
                    display: inline-block;
                    width: 230px;
                }

                .product-show__attribute-value {
                    display: inline-block;
                }

        .product-show__item {
            margin-bottom: $spacing-unit;
            padding: $spacing-unit;
            color: $white;
            text-align: center;
            border-radius: 5px;
        }

        .product-show__item--green {
            background-color: $green--light;
        }

        .product-show__item--red {
            background-color: $red;
        }

            .product-show__item-label {
                display: inline-block;
                padding-top: $spacing-unit;
                font-size: 12px;
            }
