/*------------------------------------*\
    #PRODUCT-LIST
\*------------------------------------*/

.product-list {
    position: relative;
}

.product-list--refreshing {
    &:before {
        z-index: 2;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
}
