/*------------------------------------*\
    #SEARCH-FORM
\*------------------------------------*/

.search-form {
    margin-top: double($spacing-unit);
    text-align: center;

    @include respond-to('x-wide') {
        margin-top: 0;
        text-align: left;
    }
}
