/*------------------------------------*\
    #SPONSOR
\*------------------------------------*/

.sponsor {
    padding: double($spacing-unit);
}

    .sponsor__container {
        margin: 0 auto;
        width: 100%;
        line-height: 30px;
        text-align: center;

        @include respond-to('medium') {
            width: 90%;
        }
    }

        .sponsor__container-logo {
            padding-bottom: $spacing-unit;
            text-align: center;

            @include respond-to('xx-wide') {
                padding-bottom: 0;
            }

        }

            .sponsor__logo {
                display: block;
                margin: 0 auto;

                .sponsor--powdermatter & {
                    width: 60px;
                }

                .sponsor--parachute & {
                    width: 50px;
                }
            }

        .sponsor__container-text {
            padding-bottom: $spacing-unit;

            @include respond-to('xx-wide') {
                padding-bottom: 0;
            }
        }

            .sponsor__text {
                display: block;
                text-align: center;

                span {
                    padding-bottom: 1px;
                    font-weight: 700;
                    border-bottom: 2px solid $black;
                }

                .sponsor--parachute & {
                    display: block;
                }
            }

        .sponsor__container-action {
            padding-bottom: $spacing-unit;
            text-align: center;

            @include respond-to('xx-wide') {
                padding-bottom: 0;
            }
        }
