/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

/**
 * Font Stacks
 */
$font-primary:  'Poppins', sans-serif;
$font-numeric:  'Varela Round', sans-serif !default;


/**
 * Text Sizes
 */
$font-size:     14px !default;
