/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

/**
 * Font Stacks
 */

$font-primary:  'Poppins', sans-serif !default;
$font-numeric:  'Varela Round', sans-serif !default;
$font-logo:     'Lato', sans-serif !default;
