/*------------------------------------*\
    #BUTTON
\*------------------------------------*/

.button {
    display: inline-block;
    margin: $spacing-unit;
    padding: $spacing-unit ($spacing-unit * 2);
    font-weight: 700;
    border-radius: 5px;
    text-transform: capitalize;
    text-decoration: none;
    cursor: pointer;
    outline: 0;

    i {
        vertical-align: middle;
    }
}

    .button--danger {
        background-color: $red;
        color: $white;
        border: 2px solid darken($red, 8%);
    }

    .button--primary {
        background-color: $blue;
        color: $white;
        border: 2px solid darken($blue, 8%);
    }

    .button--warning {
        background-color: $yellow;
        color: $white;
        border: 2px solid darken($yellow, 8%);
    }

    .button--large {
        font-size: $font-size + 2px;
    }

    .button--navigation {
        color: $blue;
        padding: 0;
        padding-bottom: 1px;
        margin: $spacing-unit;
        font-size: $font-size;
        border-radius: 0;

        &:hover {
            color: darken($blue, 5%);
        }
    }

    .button--form {
        width: 100%;
        margin-left: 0;
        font-size: $font-size;

        @include respond-to(medium) {
            width: auto;
        }
    }

