/*------------------------------------*\
    #EMOJI
\*------------------------------------*/


.emoji {}

    .emoji__picture {
        margin: 0 auto;
        max-width: 200px;
        padding-top: $spacing-unit * 8;

        img {
            width: 100%;
            max-width: 100%;
        }
    }

