/*------------------------------------*\
    #FOLIO
\*------------------------------------*/

@keyframes rotate {
    from { transform: rotate(0deg)   }
    to   { transform: rotate(360deg) }
}

.folio {
    margin-bottom: $spacing-unit * 2;
    text-align: center;
    padding: ($spacing-unit * 3) 0;
    background-color: #f8f9fa;
}

    .folio__total {
        font-family: $font-alt;
        font-size: ($font-size * 4);
        color: #3E4651;
    }

    .folio__title {
        color: #3ba3ff;
        font-weight: 800;
        text-transform: uppercase;
    }

    .folio__updated {
        position: relative;
        display: inline-block;
        padding-left: $spacing-unit * 2;
        margin-top: $spacing-unit;
        font-style: italic;
    }

