<%= label_tag nil, class: 'result-filters__choice' do %>
  <%= check_box_tag "filters[#{attribute}]", nil, value, class: 'result-filters__choice-checkbox' %>
  <div class="result-filters__choice-content">
    <%= inline_svg("#{icon}.svg", class: 'icon') %>
    <span class="result-filters__choice-label"><%= label %></span>
  </div>
<% end %>
