<% cache [digest_for_cache(params_for_cache), digest_for_cache(Product.maximum(:updated_at)), current_currency.id] do %>
    <% if products.empty? %>
        <div class="product-items__no-results">
            <%= image_tag 'ghost.png', class: 'product-items__no-results-icon' %>
            <p class="product-items__no-results-description"><strong>Ohhhh Snap!</strong> There is products based on your metrics.</p>
        </div>
    <% else %>
        <%= render partial: 'products/item.html.erb', collection: products, as: :product %>
    <% end %>
<% end %>
