<div class="product-reviews">

  <form data-controller="product-reviews-write" data-action="submit->product-reviews-write#onSubmit">
    <div data-controller="product-reviews-choices" data-product-reviews-choices-starts-score="0" class="product-reviews__choices">
      <input data-target="product-reviews-choices.score" type="hidden" name="score" value="0" />

      <div class="grid">
        <div class="grid__cell grid__cell--33 grid__cell--20-at-wide">
          <a data-action="click->product-reviews-choices#onClickChoice" data-target="product-reviews-choices.choice" data-score="0" class="button button--product-reviews-choice active" href="#">Hell No!</a>
        </div>

        <div class="grid__cell grid__cell--33 grid__cell--20-at-wide">
          <a data-action="click->product-reviews-choices#onClickChoice" data-target="product-reviews-choices.choice" data-score="1" class="button button--product-reviews-choice" href="#">Meh</a>
        </div>

        <div class="grid__cell grid__cell--33 grid__cell--20-at-wide">
          <a data-action="click->product-reviews-choices#onClickChoice" data-target="product-reviews-choices.choice" data-score="2" class="button button--product-reviews-choice" href="#">Okay</a>
        </div>

        <div class="grid__cell grid__cell--33 grid__cell--20-at-wide">
          <a data-action="click->product-reviews-choices#onClickChoice" data-target="product-reviews-choices.choice" data-score="3" class="button button--product-reviews-choice" href="#">Great</a>
        </div>

        <div class="grid__cell grid__cell--33 grid__cell--20-at-wide">
          <a data-action="click->product-reviews-choices#onClickChoice" data-target="product-reviews-choices.choice" data-score="4" class="button button--product-reviews-choice" href="#">Excellent</a>
        </div>
      </div>

      <div data-target="product-reviews-choices.meaning" class="product-reviews__meaning">
      </div>
    </div>

    <div class="product-reviews__content">
      <textarea data-autosize name="description" class="product-reviews__content-textarea" placeholder="Optional - Feel free to justify your choice"></textarea>
    </div>

    <input data-target="product-reviews-write.productId" type="hidden" name="product_id" value="<%= product.id %>" />

    <div data-target="product-reviews-write.errors" class="product-reviews__errors"></div>
    <button data-target="product-reviews-write.submit" type="submit" class="button button--primary">Submit Review</button>
  </form>

  <div data-controller="product-reviews-list">
    <% unless product.reviews.any? %>
      <div class="product-reviews__no-results">
        <div class="product-reviews__no-results-icon-container">
        </div>
        <div class="product-reviews__no-results-description">There is currently no reviews for this product</div>
      </div>
    <% else %>
      <ul class="product-reviews__list">
        <% product.reviews.each do |review| %>
          <li class="product-reviews__list-item">
            <div class="product-reviews__list-score">
              <%= review.score_humanized %>
              <span class="product-reviews__list-score-time">- <%= review.updated_at.strftime("%B %d, %Y") %></span>
            </div>

            <% if review.description.present? %>
              <div class="product-reviews__list-description"><%= simple_format(review.description) %></div>
            <% else %>
              <div class="product-reviews__list-description product-reviews__list-description--none">No justification given for this review</div>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>

</div>
