<ul data-controller="product-reviews-list" class="product-reviews__list">
  <% reviews.each do |review| %>
    <li class="product-reviews__list-item">
      <div class="product-reviews__list-score">
        <%= review.score_humanized %>
        <span class="product-reviews__list-score-time">- reviewed <%= time_ago_in_words(review.updated_at) %> ago</span>
      </div>

      <% if review.description.present? %>
        <div class="product-reviews__list-description"><%= simple_format(review.description) %></div>
      <% else %>
        <div class="product-reviews__list-description product-reviews__list-description--none">No justification given for this review</div>
      <% end %>
    </li>
  <% end %>
</ul>
