<div class="wizard">
  <div class="wizard__question">
    Do you have any food allergies / intolerances?
  </div>
  <div class="wizard__choices">
    <div class="wizard__choice">
      Gluten
    </div>
    <div class="wizard__choice">
      Lactose
    </div>
  </div>
  <div class="wizard__note">
    I will soon add more allergies / intolerances to this question (Ogm, nuts, soy ...)
  </div>
</div>
