<h1>Hello GURU</h1>

Questions:

- Do you have any food allergies / intolerances? (multiple choices possible)
  - Gluten
  - Lactose

Note: I will soon add more allergies / intolerances to this question (Ogm, nuts, soy ...)

-------------------

- Do you follow a specific diet? (multiple choices possible)
  - I'm Vegan
  - I'm Vegetarian

Note: I will soon add more specific diets (Ketogenic? :p)

-------------------

- Where do you live?
  - United States
  - Canada
  - Europe
  - Other

Note: This will be improved soon.

-------------------

- Different type of Complete Foods exist, select your preferences (multiple choices possible):
  - Powder
  - Ready-to-Drink
  - Snack

-------------------

- Many brands of Complete Foods let you subscribe monthly. Does it matter to you?
  - Yes
  - Yes but only if I get a discount for it!
  - It doesn't matter

-------------------

- All right, it seems I found X products for your preferences, let's sort them together!

  Well, I want to sort them by:

  Nothing, show me the results already!

  Price:
    Highest Possible / Lowest Possible

  Carbs:
    Highest / Lowest

  Protein:
    Highest / Lowest

  Fat:
    Highest / Lowest


-------------------

(IF Sorted and can Narrow)

- Okay, your list of 25 products has been sorted. If you want I can narrow down the list to 15 products based on another factor, how does that sound?

  (Drop factor category already selected)

  All right, narrow them down by:

  Nothing, I'm fine with my unique sort

  Price:
    Highest Possible / Lowest Possible

  Carbs:
    Highest / Lowest

  Protein:
    Highest / Lowest

  Fat:
    Highest / Lowest




